<section class="h-screen w-full flex flex-col items-center justify-center bg-unimedGreen text-white px-4 text-center space-y-6">
  <img src="https://placeholder.pics/svg/150x50" alt="Logo Unimed" class="w-32 mb-4" />
  <h1 class="text-3xl font-bold">Unifly - Seu evento com controle</h1>
  <p class="max-w-sm text-white/80">Confirme sua presença, gere QRCode e cadastre-se.</p>

  <div class="mt-6 flex flex-col gap-4 w-full max-w-xs">
    <button id="btnCadastro" class="bg-white text-unimedGreen font-semibold py-3 rounded-xl hover:bg-unimedLight hover:text-white transition duration-200">
  Cadastrar Participante
</button>

    <button id="btnQrReader" class="bg-white text-unimedGreen font-semibold py-3 rounded-xl hover:bg-unimedLight hover:text-white transition duration-200">
      Confirmar Presença (QR Code)
    </button>
  </div>
</section>
