<section class="h-screen w-full flex flex-col items-center justify-center bg-[#F4F4F4] text-[#1E1E1E] px-6 text-center" id="login">
  <h2 class="text-2xl font-bold mb-4">Login de Acesso</h2>
  <form id="formLogin" class="w-full max-w-md space-y-4">
    <input type="text" id="login" placeholder="Usuário" required class="w-full px-4 py-3 rounded bg-white border border-gray-300" />
    <input type="password" id="senha" placeholder="Senha" required class="w-full px-4 py-3 rounded bg-white border border-gray-300" />
    <button type="submit" class="w-full bg-[#007F3E] text-white py-3 rounded-xl hover:bg-[#00B140] transition font-semibold">Entrar</button>
  </form>
</section>